.header-section {

  display: flex;
  justify-content: center;
}

.random-p-section {
    display: flex;
    justify-content: center;
}

.random-p {
    max-width: 50%;
}

.random-pic-section {
    display: flex;
    justify-content: center;
}

.random-pic {
    width: 300px;
}